<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BridgeWebServicePortBinding" maxReceivedMessageSize="64000000" transferMode="Streamed"  />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.kurata.jp.net:8080/BridgeWebService/BridgeWebService"
                binding="basicHttpBinding" bindingConfiguration="BridgeWebServicePortBinding"
                contract="BridgeServiceReference.BridgeWebService" name="BridgeWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>